<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />

<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'none';
    img-src 'self' https://cdn.papy.rs https://media.tenor.com/ https://images.unsplash.com/;
    manifest-src 'self';
    style-src 'self' 'unsafe-inline' https://cdn.papy.rs;
    font-src 'self' https://cdn.papy.rs;
    script-src 'self' {{DECKDECKGO_EXTRA_SHAS}} https://cdn.papy.rs/;
    upgrade-insecure-requests;" />

<link href="/sitemap.xml" rel="sitemap" type="application/xml">
<link href="/rss.xml" rel="alternate" title="{{DECKDECKGO_AUTHOR}} blog" type="application/rss+xml">

<meta property="og:site_name" content="Papyrs" />

<meta name="author" content="{{DECKDECKGO_AUTHOR}}" />

<meta property="og:url" content="{{DECKDECKGO_URL}}" />
<meta property="og:image:type" content="image/png" />

<meta name="twitter:site" content="@PapyrsApp" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Favicon -->
<link href="https://cdn.papy.rs/assets/icons/icon-48x48.png" rel="apple-touch-icon" sizes="48x48" />
<link href="https://cdn.papy.rs/assets/icons/icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
<link href="https://cdn.papy.rs/assets/icons/icon-96x96.png" rel="apple-touch-icon" sizes="96x96" />
<link
  href="https://cdn.papy.rs/assets/icons/icon-144x144.png"
  rel="apple-touch-icon"
  sizes="144x144" />
<link
  href="https://cdn.papy.rs/assets/icons/icon-192x192.png"
  rel="apple-touch-icon"
  sizes="192x192" />
<link
  href="https://cdn.papy.rs/assets/icons/icon-256x256.png"
  rel="apple-touch-icon"
  sizes="256x256" />
<link
  href="https://cdn.papy.rs/assets/icons/icon-384x384.png"
  rel="apple-touch-icon"
  sizes="384x384" />
<link
  href="https://cdn.papy.rs/assets/icons/icon-512x512.png"
  rel="apple-touch-icon"
  sizes="512x512" />

<link
  rel="mask-icon"
  href="https://cdn.papy.rs/assets/icons/safari-pinned-tab.svg"
  color="#7888ff" />
<meta name="msapplication-TileColor" content="#ffeed6" />
<meta name="msapplication-config" content="https://cdn.papy.rs/assets/icons/browserconfig.xml" />

<link rel="icon" href="https://cdn.papy.rs/assets/favicon-32x32.png" type="image/png" />

<meta name="theme-color" content="#000000" />

<link rel="manifest" href="/manifest.webmanifest" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="msapplication-tap-highlight" content="no" />

<!-- DECKDECKGO_HEAD_SCRIPT -->
<!-- DECKDECKGO_HEAD_CSS -->
