<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />

<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'none';
    img-src 'self' https://media.tenor.com/ https://images.unsplash.com/;
    manifest-src 'self';
    style-src 'self' 'unsafe-inline' https://www.gstatic.com https://fonts.googleapis.com https://unpkg.com/;
    font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
    script-src 'self' {{DECKDECKGO_EXTRA_SHAS}} https://unpkg.com/;
    upgrade-insecure-requests;" />

<meta property="og:site_name" content="Papyrs" />

<meta name="author" content="{{DECKDECKGO_AUTHOR}}" />

<meta property="og:url" content="{{DECKDECKGO_URL}}" />
<meta property="og:image" content="https://deckdeckgo.com/assets/meta/deckdeckgo-meta.png" />
<meta property="og:image:type" content="image/png" />

<meta name="twitter:site" content="@PapyrsApp" />
<meta name="twitter:image:src" content="https://deckdeckgo.com/assets/meta/deckdeckgo-meta.png" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="48x48" href="https://deckdeckgo.com/icons/icon-48x48.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://deckdeckgo.com/icons/icon-72x72.png" />
<link rel="apple-touch-icon" sizes="96x96" href="https://deckdeckgo.com/icons/icon-96x96.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://deckdeckgo.com/icons/icon-144x144.png" />
<link rel="apple-touch-icon" sizes="192x192" href="https://deckdeckgo.com/icons/icon-192x192.png" />
<link rel="apple-touch-icon" sizes="256x256" href="https://deckdeckgo.com/icons/icon-256x256.png" />
<link rel="apple-touch-icon" sizes="384x384" href="https://deckdeckgo.com/icons/icon-384x384.png" />
<link rel="apple-touch-icon" sizes="512x512" href="https://deckdeckgo.com/icons/icon-512x512.png" />

<link rel="icon" href="https://deckdeckgo.com/favicon-32x32.png" type="image/png" />

<meta name="theme-color" content="#ffffff" />

<link rel="manifest" href="/manifest.webmanifest" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="msapplication-tap-highlight" content="no" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap"
  rel="stylesheet" />

<!-- DECKDECKGO_HEAD_SCRIPT -->
<!-- DECKDECKGO_HEAD_CSS -->
