<script
  type="module"
  src="https://unpkg.com/web-social-share@latest/dist/websocialshare/websocialshare.esm.js"></script>

<web-social-share show="false" style="--web-social-share-backdrop-opacity: 0.5">
  <ion-icon
    name="logo-twitter"
    aria-label="Twitter"
    slot="twitter"
    style="color: #00aced; font-size: 1.6rem; display: block"></ion-icon>
  <ion-icon
    name="logo-reddit"
    aria-label="Reddit"
    slot="reddit"
    style="color: #ff5700; font-size: 1.6rem; display: block"></ion-icon>
  <ion-icon
    name="logo-linkedin"
    aria-label="Linkedin"
    slot="linkedin"
    style="color: #0077b5; font-size: 1.6rem; display: block"></ion-icon>
  <ion-icon
    name="mail"
    aria-label="Email"
    slot="email"
    style="color: #ff8ea3; font-size: 1.6rem; display: block"></ion-icon>
  <ion-icon
    name="logo-whatsapp"
    aria-label="WhatsApp"
    slot="whatsapp"
    style="color: #25d366; font-size: 1.6rem; display: block"></ion-icon>
  <ion-icon
    name="logo-hackernews"
    aria-label="Hacker News"
    slot="hackernews"
    style="color: #ff6000; font-size: 1.6rem; display: block"></ion-icon>
</web-social-share>
