@use "./mixins/shadow";

input,
textarea {
  @include shadow.strong;

  margin: 0.45rem 0;
  padding: 0.25rem 0.45rem;

  outline: none;

  transition: box-shadow 0.15s ease-out;

  &:focus {
    box-shadow: 3px 3px var(--color-highlight);
  }
}

textarea {
  resize: none;
}
