main {
  padding: var(--nav-height) 0 1.45rem;
  margin: 0.75em 0;

  @media (min-width: 768px) {
    margin: 0;
  }
}

section,
header {
  margin: 2.45em;
}

nav {
  padding: 0 0.45rem;
  margin: 0;

  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  z-index: calc(var(--z-index) + 996);
}
