:root {
  --padding: 0.45rem;
  --z-index: 1;

  --nav-height: 3.55rem;

  @media (min-width: 768px) {
    --nav-height: 5.45rem;
  }

  /** Colors */

  --color-highlight: #ef476f;
  --color-highlight-rgb: 239, 71, 111;
  --color-highlight-contrast: #ffffff;
  --color-highlight-contrast-rgb: 255, 255, 255;
  --color-highlight-shade: #d23e62;
  --color-highlight-tint: #f1597d;

  /** Default: papaya-whip */
  --color-theme: #ffeed6;
  --color-theme-rgb: 255, 238, 214;
  --color-theme-contrast: #000000;
  --color-theme-contrast-rgb: 0, 0, 0;
  --color-theme-shade: #e0d1bc;
  --color-theme-tint: #fff0da;

  --color-primary: #fde74c;
  --color-primary-rgb: 253, 231, 76;
  --color-primary-contrast: #000000;
  --color-primary-contrast-rgb: 0, 0, 0;
  --color-primary-shade: #dfcb43;
  --color-primary-tint: #fde95e;

  --color-primary-opaque: #fff6bc;
  --color-primary-opaque-rgb: 255, 246, 188;
  --color-primary-opaque-contrast: #000000;
  --color-primary-opaque-contrast-rgb: 0, 0, 0;
  --color-primary-opaque-shade: #e0d8a5;
  --color-primary-opaque-tint: #fff7c3;

  &[theme="aero-blue"] {
    --color-theme: #d5ffef;
    --color-theme-rgb: 213, 255, 239;
    --color-theme-contrast: #000000;
    --color-theme-contrast-rgb: 0, 0, 0;
    --color-theme-shade: #bbe0d2;
    --color-theme-tint: #d9fff1;
  }

  &[theme="lavender-blue"] {
    --color-theme: #c4cdff;
    --color-theme-rgb: 196, 205, 255;
    --color-theme-contrast: #000000;
    --color-theme-contrast-rgb: 0, 0, 0;
    --color-theme-shade: #acb4e0;
    --color-theme-tint: #cad2ff;
  }

  &[theme="pink-lace"] {
    --color-theme: #ffd5f7;
    --color-theme-rgb: 255, 213, 247;
    --color-theme-contrast: #000000;
    --color-theme-contrast-rgb: 0, 0, 0;
    --color-theme-shade: #e0bbd9;
    --color-theme-tint: #ffd9f8;
  }

  &[theme="baby-pink"] {
    --color-theme: #ffcece;
    --color-theme-rgb: 255, 206, 206;
    --color-theme-contrast: #000000;
    --color-theme-contrast-rgb: 0, 0, 0;
    --color-theme-shade: #e0b5b5;
    --color-theme-tint: #ffd3d3;
  }
}
