@use "./shadow";
@use "./section";

@mixin article {
  @include shadow.strong;

  @include section.width;

  min-height: calc(100vh - var(--nav-height) - 1.45rem);

  @media (min-width: 576px) {
    aspect-ratio: 210 / 297;
    min-height: auto;
  }

  padding: 1.75rem;
  margin: 0.75rem auto;

  @media (min-width: 768px) {
    padding: 4.75rem;
    margin: 0.25rem auto;
  }

  outline: none;

  white-space: pre-wrap;

  font-size: 125%;

  :global(deckgo-lazy-img) {
    display: block;
  }

  :global(hr) {
    height: 4em;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    display: block;
    border: none;
    outline: none;
  }

  :global(hr:before) {
    content: "▪▪▪";
    display: inline-block;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0.6em;
    letter-spacing: 0.6em;
  }

  :global(h1:first-child) {
    line-height: calc(var(--line-height-standard) - 0.1);

    @media (min-width: 768px) {
      font-size: calc(2 * var(--font-size-h1));
      margin-bottom: 1.45rem;
    }
  }
}

@mixin placeholder {
  :global(figcaption:empty:not(:focus):after) {
    content: "Type caption for image (optional)";
  }
}
