@use "./themes/mixins/overlay";
@use "./themes/mixins/share";
@use "./themes/mixins/button";
@use "./themes/mixins/grid";
@use "./themes/mixins/card";
@use "./themes/mixins/text";

@import "./themes/font-faces-cdn.scss";
@import "./themes/fonts.scss";
@import "./themes/theme.scss";
@import "./themes/main.scss";
@import "./themes/body.scss";
@import "./themes/button.scss";
@import "./themes/link.scss";
@import "./themes/input.scss";
@import "./themes/img.scss";
@import "./themes/print.scss";
@import "./themes/variables.scss";

div.popover {
  @include overlay.popover;

  div.wrapper {
    transform: scale(0.95);

    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275),
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &.show div.wrapper {
    opacity: 1;
    transform: scale(1);
  }
}

web-social-share {
  @include share.websocialshare;
}

main.overview section.bio {
  > img:first-child {
    max-width: 100px;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    margin: 0.75rem 0;
  }

  > div {
    display: flex;
    justify-content: center;

    a {
      --deckgo-lazy-img-height: 1.45rem;
      --deckgo-lazy-img-width: 1.45rem;
      display: inline-block;
      vertical-align: bottom;
      margin: 0 0.45rem;
    }
  }
}

div.watermark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  a {
    @include button.primary;
  }
}

section.grid {
  @include grid.posts;

  a {
    text-decoration: none;

    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }

  article {
    @include card.card(true);

    height: 100%;

    p.description {
      margin: 0 0 0.75rem;
      @include text.clamp(5);
    }
  }
}
